body {
	background-color: white;
	opacity: 80%;
}

form { 
  /* margin: 0px 25%;  */ 
  border: 1px solid lightgrey;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 16px;
  padding-bottom: 25px; 
  border-radius: 5px;
  width: 60%; 
  margin-right: auto;
  margin-left: auto;
 }

.footer {
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 5px;
  width: 70%; 
  margin-right: auto;
  margin-left: auto;
}
.login {
	 background-color: white;
     height: 100vh;
     display: flex;
     flex-direction: column;
     align-items: center;	
}
           
.login_logo {
   margin-top: 20px;
   margin-bottom: 1%;
   object-fit: contain;
   width: 100px;
   margin-right: auto;
   margin-left: auto;
}

login__container {	
  width: 300рх;
  height:fit-content;
  display: flex;
  flex-direction: column;
  border: 2px solid lightgrey;
  padding: 20px;	
}

.login_container > form > input {
	height: 30px;
	background-color: #ff7800;
	margin-bottom: 10px;
	background-color: white;
	width: 98%;	
}
.login_container > form > input:focus{	
	box-shadow: 0 0 5px #ff7800;
	outline: none;
    border-color: #ff7800;
}

.login_signInButton {
	background: #f6be00;
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}
.login_registerButton {
	border-radius: 2px;
	width: 100%;
	height: 30px;
	border: 1px solid;
	margin-top: 10px;
	border-color: #a88734 #9c7e31 #846a29;
}
.glowing-border {
    border: 2px solid #dadada;
    border-radius: 7px;
}

.glowing-border:focus { 
    outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

